html{
    scroll-behavior: smooth;
    b=
}
body{
   text-align: center; 
   
   background-size: 60%;
   width:100%;
  
}
p{
    font-family: "Poppins";
    font-size: large;
}
#jumbo{
    background-color: tomato;
}
label{
    font-family: "Montserrat";
}
.output{
    background-color: teal;
}
.hide-delivery{
    display: none;
}