html,body{
    scroll-behavior: smooth;
    height: 100%;
    text-align: center;
    color: aliceblue;
    font-weight: bold;
    font-size: large;
    
}
form{
    background-color: #132F4D;
    background-size: 1000px;
    position: relative;
    min-height: 380px;
    font-size: large;
    background-repeat: no-repeat;
    text-align: center;
    background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover
    
}
#logo{
    padding-left: 50px;
}
p{
    font-family: "Poppins";
    font-size: large;
    text-align: center;
    color: black;
    font-weight: 500;
}
#jumbo{
    background-color: tomato;
}
label{
    font-family: "Montserrat";
}
.output{
    background-color: teal;
}
.hide-delivery{
    display: none;
}
form#toppings{
    font-family: "Montserrat";
    font-weight: bolder;
    text-align: center;
    color: silver;
   
}
