html{
    scroll-behavior: smooth;

body{
   
}
p{
    font-family: "Poppins";
    font-size: large;
}
#jumbo{
    background-color: tomato;
}
label{
    font-family: "Montserrat";
}
.output{
    background-color: teal;
}
.hide-delivery{
    display: none;
}
#toppings{
    font-family: "Montserrat";
    font-weight: bolder;
   
}